/node_modules
/public/hot
/public/storage
/public/files
/storage/*.key
/storage/backup
/storage/framework/laravel-excel
/vendor
/ignored/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
huyhuy.pp
